# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore virtual environment
venv/

# Ignore environment variables file
.env

# Ignore settings.py with sensitive information
settings.py

# Ignore Google service account JSON key files
weatheranalysisproject-*.json

# Ignore .gcloudignore file
.gcloudignore
